.title-ex3 {
  font-size: 25px;
  font-weight: bold;
}

.sub-title-ex3 {
  font-size: 16px;
  margin-top: 15px;
}

.link-ex3 {
  color:rgb(117, 168, 213);
  font-size: 16px;
  margin-top: 15px;
}

.link-ex3:hover {
  text-decoration: underline;
  cursor: pointer;
}