body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 56px;
  background-color: rgb(250, 250, 250);
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

@media (max-width: 1200px){
  body {
    padding-left: 70px;
  }
}

@media (min-width: 1200.1px){
  body {
    padding-left: 170px;
  }
}
