.thumbnail {
  width: 100%;
}

.profile-picture {
  position: relative;
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}

.video-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
  row-gap: 40px;
  padding: 25px 25px;
}

.video-time {
  position: absolute;
  right: 5px;
  bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  padding: 4px 4px;
  border-radius: 2px;
}

.profile-toottip {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding: 12px 12px;
 
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  z-index: 20;
}

.profile-tooltip-picture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 5px;
}

.profile-tooltip-name {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-tooltip-followers {
  font-size: 15px;
  color: rgb(96, 96, 96);
}

.channel-picture:hover .profile-toottip{
  opacity: 1;
}

@media (max-width: 499px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
